.elephant-canvas {
  font-family: 'Playfair Display', serif;
  background: DarkSlateGray;
  font-size: 24px;
}

.lion-canvas {
  font-family: 'Playfair Display', serif;
  background: beige;
  font-size: 16px;
}
